.about-us {
  &__content {
    padding: 0;
    margin: 0 auto;
    padding-top: 110px;

    @include contentPadingInline;
    @include pageGrid;

    min-width: $min-width;
    max-width: $max-width;
  }

  &__title {
    padding: 0;
    margin: 0;

    grid-column: 1/-1;
    
    color: $title-color;
    text-align: center;
    font-family: $font-family;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  &__paragraph {
    padding: 0;
    margin: 0;
    margin-top: 24px;

    grid-column: 1/-1;

    color: #6C788B;

    text-align: center;
    font-family: $font-family;
    font-size: 22px;
    font-style: normal;
    line-height: 150%;

    @include onDesktop {
      font-size: 22px;

      grid-column: 3/11;
    }
  }
}
