.bonus {
  &__content {
    padding: 0;
    margin: 0;
    padding-top: 180px;

    @include contentPadingInline;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: -webkit-fill-available;
    max-width: 450px;
    opacity: 0.5;
  }

  &__title {
    padding: 0;
    margin: 0;

    margin-top: 60px;


    color: $title-color;
    font-family: $font-family;

    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    opacity: 0.5;
  }
}