.footer {
  background-color: #2C2C2C;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  &__content {
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;

    @include contentPadingInline;
    @include pageGrid;

    justify-items: center;
    
    @include onDesktop {
      padding-top: 110px;
      padding-bottom: 110px;
    }
  }

  &__grop {
    &--strip {
      margin: 0;
      padding: 0;
      margin-top: 25px;

      width: -webkit-fill-available;
      border-bottom: 2px solid rgb(255, 255, 255);
      grid-column: 1 / -1;
    }

    &--corporation {
      grid-column: 1 / -1;
      color: white;
      margin-top: 15px;
    }

    &--left {
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
    
      align-items: flex-start;

      @include onTablet {
        width: 360px;
      }
  
      @include onDesktop {
        width: 460px;
        grid-column: 1/6;
      }
    
      &-title {
        padding: 0;
        margin: 0;

        margin-top: 40px;
        margin-bottom: 46px;
        
        color: white;
        text-align: center;
        font-family: $font-family;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;

        @include onTablet {
          margin-top: 60px;
          margin-bottom: 56px;
          font-size: 42px;
        }
      }
    }

    &--right {
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
          
      align-items: flex-start;

      @include onTablet {
        width: 360px;
      }
  
      @include onDesktop {
        width: 460px;
        grid-column: 7/12;
      }

      &-title {
        padding: 0;
        margin: 0;

        margin-top: 40px;
        margin-bottom: 46px;
        
        color: white;
        text-align: center;
        font-family: $font-family;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;

        @include onTablet {
          margin-top: 60px;
          margin-bottom: 56px;
          font-size: 42px;
        }
      }

      &-name {
        padding: 0;
        margin: 0;
        margin-bottom: 6px;

        color: #FFF;

        font-family: $font-family;
        font-size: 11px;
        font-weight: 200;
        letter-spacing: 3px;
        text-transform: uppercase;
        opacity: 0.5;
      }

      &-link {
        padding: 0;
        margin: 0;
        margin-bottom: 40px;

        color: #FFF;

        font-family: $font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 2px;

        border-radius: 10px;
        text-decoration: none;

        transition: box-shadow 0.3s ease;

        &:hover  {
          box-shadow: 0 0 35px rgba(0, 44, 70, 0.8);
        }

        @include onTablet {
          margin-bottom: 56px;
        }
      }

      &-social {
        margin-top: 16px;
        gap: 38px;
      }
    }

    &--bottom {
      grid-column: 1/-1;

      @include onDesktop {
        grid-column: 1/6;
      }

      &-title {
        padding: 0;
        margin: 0;

        margin-top: 40px;
        margin-bottom: 46px;
        
        color: white;
        text-align: left;
        font-family: $font-family;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;

        @include onTablet {
          margin-top: 60px;
          margin-bottom: 56px;
          font-size: 42px;
        }
      }

      &-info {
        padding: 0;
        margin: 0;
        margin-bottom: 40px;

        color: #FFF;

        font-family: $font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 2px;

        width: 300px;

        @include onTablet {
          width: 360px;
          margin-bottom: 56px;
        }
    
        @include onDesktop {
          width: 460px;
        }
      }

      &-image {
        border-radius: 10%;
        width: 300px;

        @include onTablet {
          width: 360px;
        }
    
        @include onDesktop {
          width: 460px;
        }
      }

      &-map {
        padding: 0;
        margin: 0;
        border-radius: 5%;
        margin-top: inherit;
        grid-column: 1/-1;
        width: -webkit-fill-available;
        height: 250px;

    
        @include onDesktop {
          width: 460px;
          height: -webkit-fill-available;
          grid-column: 7/12;
        }
      }
    }
  }
}