$tablet-min-width: 800px;
$desktop-min-width: 1265px;

$min-width: 320px;
$max-width: 1440px;

$color-background: #F2F6FA;
$title-color: #253757;

$font-family: 'Gabarito', sans-serif;

$rectangle-width-smal: 93px;
$rectangle-height-smal: 116px;

$rectangle-width-big: 118px;
$rectangle-height-big: 148px;
