.page__body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header__content {
  max-height: 100vh;
}
.header__top {
  position: absolute;
  z-index: 2;
  padding: 0;
  margin: 0;
  width: -webkit-fill-available;
  padding-inline: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(231, 231, 231, 0.8);
}
@media (min-width: 740px) {
  .header__top {
    padding-inline: 40px;
  }
}
@media (min-width: 1180px) {
  .header__top {
    padding-inline: 100px;
  }
}
@media (min-width: 740px) {
  .header__top {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
.header__top-right {
  display: flex;
  gap: 60px;
}
@media (min-width: 1180px) {
  .header__top-right {
    display: none;
  }
}
.header__phone {
  display: flex;
  text-decoration: none;
  font-family: "Gabarito", sans-serif;
  font-size: 16px;
}
@media (min-width: 740px) {
  .header__phone::after {
    content: "+1 234 555-55-55";
    color: black;
    padding-left: 12px;
    display: flex;
    align-items: center;
  }
}

.logo {
  height: 70px;
}
@media (min-width: 740px) {
  .logo {
    height: 90px;
  }
}

.nav {
  display: none;
}
@media (min-width: 1180px) {
  .nav {
    display: block;
  }
}
.nav__item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.nav__list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
}
.nav__link {
  text-decoration: none;
  font-family: "Gabarito", sans-serif;
  font-size: 16px;
  color: black;
}

.icon {
  height: 30px;
}

.aside {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translateX(-100%);
  z-index: 3;
  background-color: white;
}
.aside:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
  overflow-y: hidden;
}
.aside__top {
  padding: 0;
  margin: 0;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e7e7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 740px) {
  .aside__top {
    padding-inline: 40px;
  }
}
@media (min-width: 1180px) {
  .aside__top {
    padding-inline: 100px;
  }
}
@media (min-width: 740px) {
  .aside__top {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
.aside__nav {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  display: block;
  padding-inline: 20px;
}
@media (min-width: 740px) {
  .aside__nav {
    padding-inline: 40px;
  }
}
@media (min-width: 1180px) {
  .aside__nav {
    padding-inline: 100px;
  }
}
.aside__nav-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.aside__social {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  padding-inline: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (min-width: 740px) {
  .aside__social {
    padding-inline: 40px;
  }
}
@media (min-width: 1180px) {
  .aside__social {
    padding-inline: 100px;
  }
}

.slider__image {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.slider__image-1::before {
  content: "";
  background-image: url(/images/header-img/header-img-2.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider__image-2::before {
  content: "";
  background-image: url(/images/header-img/header-img-3.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider__image-3::before {
  content: "";
  background-image: url(/images/header-img/header-img-1.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider__info {
  padding: 25px 25px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 231, 231, 0.8);
  border-radius: 26px;
}
.slider__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Gabarito", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -2px;
  text-transform: uppercase;
}
@media (min-width: 740px) {
  .slider__title {
    margin-bottom: 30px;
    font-size: 52px;
  }
}
.slider__paragraph {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Gabarito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 300px;
}
@media (min-width: 740px) {
  .slider__paragraph {
    margin-bottom: 60px;
    font-size: 20px;
    max-width: 400px;
  }
}
@media (min-width: 1180px) {
  .slider__paragraph {
    max-width: 500px;
  }
}
.slider__button {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gabarito", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  height: 60px;
  width: 300px;
  border-radius: 28px;
  background-color: rgba(32, 96, 246, 0.9);
  text-decoration: none;
  color: white;
}
@media (min-width: 740px) {
  .slider__button {
    width: 400px;
  }
}
.slider__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}/*# sourceMappingURL=main.css.map */